/*-----------------------------------------------------------------------------------*/
/*  New styles
/*-----------------------------------------------------------------------------------*/
.highlight {
  background: url(/images/highlight2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  }

/*-----------------------------------------------------------------------------------*/
/*  General Styling
/*-----------------------------------------------------------------------------------*/

body {
  background-color: #ffffff;
  /* color: #898989; */
  font-family: "Poppins", helvetica;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: #292929;
  font-weight: 500;
  font-size: 22px;
  /* letter-spacing: 2px; */
  font-family: 'Quicksand', sans-serif;
}

@font-face {
  font-family: "AbysFont";
  src: url("../lib/abys-font.otf");
  src: url("../lib/abys-font.woff") format("woff"),
    url("../lib/abys-font.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #292929;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 1px;
  font-family: "Poppins", helvetica;
}

.summary-title {
  font-size: 16px !important;
  font-weight: 600;
  color: #a5a7a7;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.summary-content {
  font-size: 18px !important;
  margin: 0;
  padding: 10px 0;
}

.card-title {
  font-size: 22px !important;
}

.card-text {
  font-size: 18px !important;
}

.card-footer {
  border-top: none;
  text-align: center;
  margin: 0 0.25rem;
  background-color: transparent;
}

.icon-small {
  width: 20px;
}

a {
  color: #292929;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  color: #ffd700;
}

a:hover,
a:focus {
  color: #ffd700;
  text-decoration: underline;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 14px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.row {
  padding: 5%;
}

.row-summary {
  padding: 0;
}

::-moz-selection {
  background: #ffd700;
  color: #fff;
}

::selection {
  background: #ffd700;
  color: #fff;
}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  color: #fff;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 30px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "AbysFont";
  padding-top: 10px;
}

.paddsection {
  padding-top: 80px;
}

.paddsections {
  padding-top: 80px;
  padding-bottom: 80px !important;
}

.mb-20 {
  margin-bottom: 20px;
}

/*-----------------------------------------------------------------------------------*/
/*  Navbar
/*-----------------------------------------------------------------------------------*/
.navbar {
  padding: 2% 5% 0% 5%;
}

.navbar-light .navbar-toggler {
  border-color: white;
}

nav ul li {
  float: left;
  margin-right: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 40px;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #ffd700;
  text-decoration: underline;
}

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

/* #header .header-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.header-content p {
  font-size: 13px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.list-social li {
  float: left;
  margin-right: 20px;
}

.list-social li i {
  color: #fff;
  font-size: 25px;
}

/* IMAGES */
.img-responsive {
  width: 100% !important;
}

/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/

#about {
  width: 100%;
  height: auto;
  background: #f7f7f7;
}

#about .div-img-bg .about-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-family: "AbysFont";
  font-size: 28px;
  text-align: justify;
}

#about .about-descr .separator {
  max-width: 100%;
  margin-bottom: 0;
  text-align: justify;
}

/*-----------------------------------------------------------------------------------*/
/*  Quotes
/*-----------------------------------------------------------------------------------*/

#quotes {
  background: #f7f7f7;
  position: relative;
  padding-bottom: 40px;
}

#quotes h2 {
  width: 80%;
  font-family: "AbysFont";
  font-size: 28px;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}

/*-----------------------------------------------------------------------------------*/
/*  Portfolio
/*-----------------------------------------------------------------------------------*/

#portfolio {
  position: relative;
}

#portfolio .portfolio-list {
  margin-bottom: 50px;
}

#portfolio .portfolio-list .nav {
  display: inline-block;
  margin: 0;
}

#portfolio .portfolio-list .nav li {
  margin: 0 40px 0 0;
  float: left;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  cursor: pointer;
  font-family: "Poppins", helvetica;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-list .nav li:hover,
#portfolio .portfolio-list .nav li.filter-active {
  color: #ffd700;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-container {
  display: inline-block;
  width: 100%;
}

#portfolio .portfolio-container {
  display: inline-block;
  height: auto;
  width: 100%;
}

#portfolio .portfolio-container .portfolio-item {
  position: relative;
  padding: 25px 0px;
}

#portfolio .portfolio-container .portfolio-item h4 {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px 0;
  font-weight: 500;
  color: #292929;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-container .portfolio-item .portfolio-title p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.portfolio-thumbnail {
  margin-bottom: 30px;
  overflow: hidden;
  min-height: 260px;
}

.portfolio-thumbnail img {
  max-width: 100%;
}

.flex {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----------------------------------------------------------------------------------*/
/*  Blog
/*-----------------------------------------------------------------------------------*/

#blog,
#blog-blog {
  height: auto;
  width: 100%;
  background: #f7f7f7;
  padding-bottom: 40px;
  position: relative;
}

#blog-blog {
  background: #fff;
  padding-bottom: 30px;
}

#blog .blog-block {
  display: inline-block;
  height: auto;
  width: 100%;
}

#blog .blog-block .blog-info {
  position: relative;
}

.blog-block .blog-info img {
  max-width: 100%;
}

.blog-block .blog-info .blog-title {
  padding: 25px 0px;
  position: relative;
}

.blog-block .blog-info .blog-title h4 a {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px 0;
  font-weight: 500;
  color: #292929;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.blog-block .blog-info .blog-title h4 a:hover {
  color: #ffd700;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.blog-block .blog-info .blog-title p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
  margin-top: 0.625rem;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ffd700;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #000;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #000;
  border-right: 0.125rem solid #000;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #000;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #000;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #000;
}

/*-----------------------------------------------------------------------------------*/
/*  Contact
/*-----------------------------------------------------------------------------------*/

#contact {
  height: auto;
  width: 100%;
  padding-bottom: 40px;
}

#contact .div-img-bg .contact-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#contact .contact-descr .p-heading {
  font-family: "AbysFont";
  font-size: 28px;
  text-align: justify;
}

#contact .contact-descr .separator {
  max-width: 100%;
  margin-bottom: 0;
  text-align: justify;
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  padding-bottom: 10px;
  font-size: 24px;
}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #ffd700;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}
